@model Web.Entity.Dto.AgentDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h6 class="h6 mb-2 text-gray-800">Add/Modify Agent</h6>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form id="form_validation">
                    <input type="hidden" value="@Model.AgentId" name="AgentId" />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Full Name</label>
                                <input type="text" value="@Model.AgentFullName"
                                       name="AgentFullName" placeholder="Agent Full Name"
                                       class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Contact Number 1</label>
                                <input type="text" value="@Model.ContactNumber1"
                                       name="ContactNumber1" placeholder="Enter Contact Number1"
                                       class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Contact Number 2</label>
                                <input type="text" value="@Model.ContactNumber2"
                                       name="ContactNumber2" placeholder="Enter Contact Number2"
                                       class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Email Address</label>
                                <input type="text" value="@Model.EmailAddress"
                                       name="EmailAddress" placeholder="Enter Email Address"
                                       class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Citizenship Number</label>
                                <input type="text" value="@Model.CitizenshipNumber"
                                       name="CitizenshipNumber" placeholder="Enter Citizenship Number"
                                       class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Occupation</label>
                                <input type="text" value="@Model.Occupation"
                                       name="Occupation" placeholder="Enter Occupation"
                                       class="form-control" />
                            </div>
                        </div>
                    </div>
                    <b>Current Address</b>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Province</label>
                                <select class="form-control" id="ProvinceId"
                                        name="ProvinceId">
                                    <option value="">Select Value</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>District</label>
                                <select class="form-control" id="DistrictId"
                                        name="DistrictId">
                                    <option value="">Select Value</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Municipality</label>
                                <input type="text" value="@Model.MunicipalityName"
                                       name="MunicipalityName" placeholder="Enter Municipality"
                                       class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Ward No.</label>
                                <input type="text" value="@Model.WardNumber"
                                       name="WardNumber" placeholder="Ward No."
                                       class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Tole Name</label>
                                <input type="text" value="@Model.ToleName"
                                       name="ToleName" placeholder="Enter Tole Name"
                                       class="form-control" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Qualification</label>
                                <input type="text" value="@Model.Qualification"
                                       name="Qualification" placeholder="Enter Qualification"
                                       class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Agent Licence No./ Referal Code</label>
                                <input type="text" value="@Model.ReferenceLicenceNumber"
                                       name="ReferenceLicenceNumber"
                                       placeholder="Enter Licence No./Referal Code"
                                       class="form-control" />
                            </div>
                        </div>
                    </div>
                    <button type="submit" id="btnSave"
                            name="SaveButton" 
                            class="btn btn-primary btn-md">
                        <i class="fa fa-save"></i> 
                        <span> Save </span>
                    </button>
                    <a href="/AgentList" class="btn btn-danger">
                        <i class="fa fa-window-close"></i>
                        Close
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/web/back-end/js")
<script src="~/Assets/Backend/js/custom/plugin/jquery.validate.min.js"></script>

<script>

    LoadProvince('@Model.ProvinceId', "#ProvinceId");
    if (parseInt('@Model.AgentId') > 0) {
        LoadDistrict('@Model.DistrictId', '@Model.ProvinceId');
    }
    var $checkoutForm = $('#form_validation').validate({
        ignore: [],
        rules: {
            'AgentFullName': {
                required: true,
                maxlength: 50
            },
            'ContactNumber1': {
                required: true,
                maxlength: 20
            },
            'CitizenshipNumber': {
                required: true,
                maxlength: 50
            },
            'MunicipalityName': {
                required: true,
                maxlength: 50
            },
            'WardNumber': {
                required: true,
                maxlength: 2
            },
            'ReferenceLicenceNumber': {
                required: true,
                maxlength: 30
            },
            'ProvinceId': {
                required: true
            },
            'DistrictId': {
                required: true
            },
        },
        submitHandler: function (form) {
            $("#btnSave").prop('disabled', true)
            $("#btnSave span").html('Saving...')

            var id = $('input[name="AgentId"').val();
            var url = "/Agent/Insert";
            if (parseInt(id) > 0) {
                url = "/Agent/Update";
            }
            $.ajax({
                type: "POST",
                url: url,
                data: $("#form_validation").serialize(),
                success: function (resp) {
                    showResultMessage(resp, "/AgentDetails/" + resp.id);
                },
                error: function (message) {
                    showResultMessage(message);
                }
            })
        },

        errorPlacement: function errorPlacement(error, element) {
            var $parent = $(element).parents('.form-group');

            // Do not duplicate errors
            if ($parent.find('.jquery-validation-error').length) {
                return false;
            }

            $parent.append(
                error.addClass('jquery-validation-error small form-text invalid-feedback')
            );
        },
        highlight: function (element) {
            var $el = $(element);
            var $parent = $el.parents('.form-group');
            $el.addClass('is-invalid');

            // Select2 and Tagsinput
            if ($el.hasClass('select2-hidden-accessible') || $el.attr('data-role') === 'tagsinput') {
                $el.parent().addClass('is-invalid');
            }

        },
        unhighlight: function (element) {
            $(element).parents('.form-group').find('.is-invalid').removeClass('is-invalid');
        }
    });

    $("#ProvinceId").change(function () {
        var provinceId = $("#ProvinceId").val();
        LoadDistrict(0, provinceId);
    })
</script>

