@model Web.Entity.Dto.ShareTypesDto
@{
    ViewBag.Title = "AddModifyShareType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h6 class="h6 mb-2 text-gray-800">Add/Modify Share Types</h6>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form id="form_validation">
                    <input type="hidden" value="@Model.ShareTypeId" name="ShareTypeId" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" value="@Model.ShareTypeName"
                                       name="ShareTypeName"
                                       placeholder="Share Type Name"
                                       class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="floating-label">Fiscal Year</label>
                                <select name="FiscalYearId" id="FiscalYearId"
                                        class="form-control">
                                    <option value="">Select Fiscal Year</option>
                                </select>
                            </div>
                        </div>
                        @{
                            long? totalShare = null;
                            int? minShare = null, maxShare = null;

                            totalShare = Model.NumberOfIssuedShares;
                            maxShare = Model.MaxSharePerPerson;
                            minShare = Model.MinSharePerPerson;

                        }
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Total Issued Shares</label>
                                <input type="text" value="@totalShare"
                                       name="NumberOfIssuedShares"
                                       placeholder="Total Issued Shares"
                                       class="form-control"
                                       onkeypress="AllowPositiveNumber(event)" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Price Per Kitta</label>
                                <input type="text" value="@Model.PricePerKitta"
                                       name="PricePerKitta"
                                       placeholder="Price Per Kitta"
                                       class="form-control"
                                       onkeypress="AllowPositiveNumber(event)" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Min Share Per Person</label>
                                <input type="text" value="@minShare"
                                       name="MinSharePerPerson"
                                       placeholder="Min Share"
                                       class="form-control"
                                       onkeypress="AllowPositiveNumber(event)" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Max Share Per Person</label>
                                <input type="text" value="@maxShare"
                                       name="MaxSharePerPerson"
                                       placeholder="Max Share"
                                       class="form-control"
                                       onkeypress="AllowPositiveNumber(event)" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        @if (Model.Status != true && Model.ShareTypeId > 0)
                                        {
                                            <input class="form-check-input" name="Status" value="true" type="checkbox" />
                                        }
                                        else
                                        {
                                            <input class="form-check-input" name="Status" value="true" type="checkbox" checked="checked" />
                                        }
                                        Is Active
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <button type="submit" id="btnSave" name="SaveButton" class="btn btn-primary btn-md"><i class="fa fa-save"></i> <span> Save </span> </button>
                    <a href="/ShareTypeList" class="btn btn-danger"><i class="fa fa-window-close"></i> Close </a>
                </form>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/web/back-end/js")
<script src="~/Assets/Backend/js/custom/plugin/jquery.validate.min.js"></script>
<script src="~/Assets/Backend/js/custom/Dropdown.js"></script>
<script>
    var $checkoutForm = $('#form_validation').validate({
        ignore: [],
        rules: {
            'ShareTypeName': {
                required: true,
                maxlength: 100
            },
            'FiscalYearId': {
                required: true
            },
            'NumberOfIssuedShares': {
                required: true,
                maxlength: 20
            },
            'PricePerKitta': {
                required: true,
                maxlength: 20
            },
            //'MinSharePerPerson': {
            //    required: true,
            //    maxlength: 10
            //},
            //'MaxSharePerPerson': {
            //    required: true,
            //    maxlength: 10
            //},
        },
        submitHandler: function (form) {
            $("#btnSave").prop('disabled', true)
            $("#btnSave span").html('Saving...')

            var id = $('input[name="ShareTypeId"').val();
            var url = "/ShareTypes/Insert";
            if (parseInt(id) > 0) {
                url = "/ShareTypes/Update";
            }
            $.ajax({
                type: "POST",
                url: url,
                data: $("#form_validation").serialize(),
                success: function (message) {
                    showResultMessage(message, "/ShareTypeList")
                },
                error: function (message) {
                    showResultMessage(message)
                }
            })
        },

        errorPlacement: function errorPlacement(error, element) {
            var $parent = $(element).parents('.form-group');

            // Do not duplicate errors
            if ($parent.find('.jquery-validation-error').length) {
                return false;
            }

            $parent.append(
                error.addClass('jquery-validation-error small form-text invalid-feedback')
            );
        },
        highlight: function (element) {
            var $el = $(element);
            var $parent = $el.parents('.form-group');
            $el.addClass('is-invalid');

            // Select2 and Tagsinput
            if ($el.hasClass('select2-hidden-accessible') || $el.attr('data-role') === 'tagsinput') {
                $el.parent().addClass('is-invalid');
            }

        },
        unhighlight: function (element) {
            $(element).parents('.form-group').find('.is-invalid').removeClass('is-invalid');
        }
    });

    function AllowPositiveNumber(event) {
        if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
            event.preventDefault();
        }
    }
</script>

<script>
    $(document).ready(function () {
        var id = '@Model.FiscalYearId';
        LoadFiscalYear(id);
    })
</script>
