@model Web.Entity.Dto.ShareTypesDto
@{
    ViewBag.Title = "AddModifyShareType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Add/Modify Share Type</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Settings</a></li>
            <li class="breadcrumb-item">Share Type</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <!-- Form Basic -->
            <div class="card mb-4">
                <div class="card-body">
                    <form id="AddModifyForm">
                        <div class="row">
                            <input type="hidden" value="@Model.ShareTypeId"
                                   name="ShareTypeId" />

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" value="@Model.ShareTypeName"
                                           name="ShareTypeName"
                                           placeholder="Share Type Name"
                                           class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="floating-label">Fiscal Year</label>
                                    <select name="FiscalYearId" id="FiscalYearId"
                                            class="form-control">
                                        <option value="">Select Fiscal Year</option>
                                    </select>
                                </div>
                            </div>

                            @{
                                long? totalShare = null;
                                int? minShare = null, maxShare = null;
                                double? registrationAmount = null;

                                totalShare = Model.NumberOfIssuedShares;
                                maxShare = Model.MaxSharePerPerson;
                                minShare = Model.MinSharePerPerson;
                                if (Model.RegistrationAmount > 0)
                                {
                                    registrationAmount = Model.RegistrationAmount;
                                }
                            }
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Total Issued Shares</label>
                                    <input type="text" value="@totalShare"
                                           name="NumberOfIssuedShares"
                                           placeholder="Total Issued Shares"
                                           class="form-control"
                                           onkeypress="AllowPositiveNumber(event)" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Price Per Kitta</label>
                                    <input type="text" value="@Model.PricePerKitta"
                                           name="PricePerKitta"
                                           placeholder="Price Per Kitta"
                                           class="form-control"
                                           onkeypress="AllowPositiveNumber(event)" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Min Share Per Person</label>
                                    <input type="text" value="@minShare"
                                           name="MinSharePerPerson"
                                           placeholder="Min Share"
                                           class="form-control"
                                           onkeypress="AllowPositiveNumber(event)" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Max Share Per Person</label>
                                    <input type="text" value="@maxShare"
                                           name="MaxSharePerPerson"
                                           placeholder="Max Share"
                                           class="form-control"
                                           onkeypress="AllowPositiveNumber(event)" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Registration Amount</label>
                                    <input type="text" value="@registrationAmount"
                                           name="RegistrationAmount"
                                           placeholder="Enter Registration Amount"
                                           class="form-control"
                                           onkeypress="AllowPositiveNumber(event)" />
                                </div>
                            </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        @if (Model.Status != true && Model.ShareTypeId > 0)
                                        {
                                            <input class="form-check-input" name="Status" value="true" type="checkbox" />
                                        }
                                        else
                                        {
                                            <input class="form-check-input" name="Status" value="true" type="checkbox" checked="checked" />
                                        }
                                        Is Active
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        @if (Model.IsPrimary != true)
                                        {
                                            <input class="form-check-input" name="IsPrimary"
                                                   value="true" type="checkbox" />
                                        }
                                        else
                                        {
                                            <input class="form-check-input" name="IsPrimary"
                                                   value="true" type="checkbox" checked="checked" />
                                        }
                                        Is Primary
                                    </label>
                                </div>
                            </div>
                        </div>
                        </div>
                        
                        <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
                        <a href="~/ShareTypeList" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Row-->
</div>
@Scripts.Render("~/web/backend/jquery-ui")
<script src="~/Assets/Backend/js/jquery.validate.min.js"></script>

<script>
    $(document).ready(function () {
        var id = '@Model.FiscalYearId';
        LoadFiscalYear(id);
    })
    var $checkoutForm = $('#AddModifyForm').validate({
        ignore: [],
        rules: {
            'ShareTypeName': {
                required: true,
                maxlength: 100
            },
            'FiscalYearId': {
                required: true
            },
            'NumberOfIssuedShares': {
                required: true,
                maxlength: 20
            },
            'PricePerKitta': {
                required: true,
                maxlength: 20
            },
        },
        submitHandler: function (form) {
            $("#btnSave").prop('disabled', true)
            $("#btnSave span").html('Saving...')

            var id = $('input[name="ShareTypeId"').val();
            var url = "/ShareTypes/Insert";
            if (parseInt(id) > 0) {
                url = "/ShareTypes/Update";
            }
            $.ajax({
                type: "POST",
                url: url,
                data: $("#AddModifyForm").serialize(),
                success: function (message) {
                    showResultMessage(message, "/ShareTypeList")
                },
                error: function (message) {
                    showResultMessage(message)
                }
            })
        },

        errorPlacement: function errorPlacement(error, element) {
            var $parent = $(element).parents('.form-group');

            // Do not duplicate errors
            if ($parent.find('.jquery-validation-error').length) {
                return false;
            }

            $parent.append(
                error.addClass('jquery-validation-error small form-text invalid-feedback')
            );
        },
        highlight: function (element) {
            var $el = $(element);
            var $parent = $el.parents('.form-group');
            $el.addClass('is-invalid');

            // Select2 and Tagsinput
            if ($el.hasClass('select2-hidden-accessible') || $el.attr('data-role') === 'tagsinput') {
                $el.parent().addClass('is-invalid');
            }

        },
        unhighlight: function (element) {
            $(element).parents('.form-group').find('.is-invalid').removeClass('is-invalid');
        }
    });
</script>

