@model IEnumerable<Web.Entity.Dto.StaffsDto>
@{
    ViewBag.Title = "Staffs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="h3 mb-2 text-gray-800">Staffs List</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <a href="~/AddStaff" class="btn btn-success btn-sm">
            <i class="fas fa-plus"></i> Add New
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>S.N.</th>
                        <th hidden="hidden"></th>
                        <th>Staff Name</th>
                        <th>Gender</th>
                        <th>Phone Number</th>
                        <th>Email Address</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 0; }
                    @foreach (var x in Model)
                    {
                        i++;
                        <tr>
                            <td>@i</td>
                            <td hidden="hidden">@x.StaffId</td>
                            <td>
                                @x.StaffName <br />
                                Role : @x.RoleName <br />
                                Designation : @x.DesignationName <br />
                                Department : @x.DepartmentName <br />
                            </td>
                            <td>@x.GenderName</td>
                            <td>@x.ContactNumber</td>
                            <td>@x.EmailAddress</td>
                            <td>
                                @if (x.UserStatusId == 1)
                                {
                                    <span class="badge badge-success">@x.StatusName</span>
                                }
                                else if (x.UserStatusId == 2)
                                {
                                    <span class="badge badge-danger">@x.StatusName</span>
                                }
                                else
                                {
                                    <span class="badge badge-warning">@x.StatusName</span>
                                }
                            </td>
                            <td>
                                <a href="~/ModifyStaff/@x.StaffId"
                                   class="btn btn-success btn-circle btn-sm" id="btnEdit">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="~/MenuAccessPermission/@x.StaffId"
                                   class="btn btn-primary btn-circle btn-sm" id="btnEdit"
                                   title="Menu Access Permission">
                                    <i class="fas fa-book"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@Scripts.Render("~/web/back-end/js")
<script>
    $('#dataTable').DataTable();
</script>
