@model Web.Entity.Dto.MemberDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h6 class="h6 mb-2 text-gray-800">Add/Modify Member</h6>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form id="form_validation">
                    <input type="hidden" value="@Model.MemberId" name="MemberId" />
                    <label><b>Personal Information</b></label>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" value="@Model.FirstName"
                                       name="FirstName" placeholder="First Name"
                                       class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Middle Name</label>
                                <input type="text" value="@Model.MiddleName"
                                       name="MiddleName" placeholder="Middle Name"
                                       class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" value="@Model.LastName"
                                       name="LastName" placeholder="Last Name"
                                       class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Gender</label>
                                <select class="form-control"
                                        name="GenderId"
                                        id="GenderId">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Date Of Birth (YYYY/MM/DD) </label>
                                <input type="text" value="@Model.DateOfBirthBS"
                                       onkeypress="ValidateNepaliDate(event)"
                                       name="DateOfBirthBS" placeholder="Date Of Birth"
                                       class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Citizenship Number </label>
                                <input type="text" value="@Model.CitizenshipNumber"
                                       name="CitizenshipNumber"
                                       onkeypress="ValidateCitizenshipNumber(event)"
                                       placeholder="Citizenship Number"
                                       class="form-control" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <label><b>Contact Details</b></label>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Mobile Number</label>
                                <input type="text" value="@Model.MobileNumber"
                                       onkeypress="ValidateMobileNumber(event)"
                                       name="MobileNumber" placeholder="Mobile Number"
                                       class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" value="@Model.Email"
                                       name="Email" placeholder="Email"
                                       class="form-control" />
                            </div>
                        </div>
                    </div><br />
                    <label><b>Permanent Address</b></label>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Province</label>
                                <select class="form-control"
                                   id="PermanentProvinceId"
                                  name="PermanentProvinceId">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>District</label>
                                <select class="form-control"
                                    id="PermanentDistrictId"
                                   name="PermanentDistrictId">
                                    <option value="">Select Value</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Municipality Name</label>
                                <input type="text" value="@Model.PermanentMunicipality"
                                name="PermanentMunicipality" placeholder="Municipality Name"
                                       class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Ward Number</label>
                                <input type="text" value="@Model.PermanentWardNumber"
                                 name="PermanentWardNumber" placeholder="Ward Number"
                                       class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Tole Name</label>
                                <input type="text" value="@Model.PermanentToleName"
                                   name="PermanentToleName" placeholder="Tole Name"
                                       class="form-control" />
                            </div>
                        </div>
                    </div><br />
                    <label><b>Temporary Address</b></label>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Province</label>
                                <select class="form-control"
                                    id="TemporaryProvinceId"
                                    name="TemporaryProvinceId">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>District</label>
                                <select class="form-control"
                                    id="TemporaryDistrictId"
                                    name="TemporaryDistrictId">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Municipality Name</label>
                                <input type="text" value="@Model.TemporaryMunicipality"
                                       name="TemporaryMunicipality" 
                                    placeholder="TemporaryMunicipality"
                                       class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Ward Number</label>
                                <input type="text" value="@Model.TemporaryWardNumber"
                               name="TemporaryWardNumber" placeholder="Ward Number"
                                       class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Tole Name</label>
                                <input type="text" value="@Model.TemporaryToleName"
                                    name="TemporaryToleName" placeholder="Tole Name"
                                       class="form-control" />
                            </div>
                        </div>
                    </div><br />
                    <label><b>Occupation Details</b></label>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Occupation</label>
                                <select class="form-control"
                                    id="OccupationId"
                                    name="OccupationId">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Remarks</label>
                                <input type="text" value="@Model.OtherOccupationRemarks"
                                       name="OtherOccupationRemarks" placeholder="Remarks"
                                       class="form-control" />
                            </div>
                        </div>
                    </div>
                    <label><b>Upload Documents</b></label>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Photo</label>
                                <input type="file"
                                name="PhotoString" class="form-control PhotoString" />
                                       
                                <input type="hidden" name="Photo" value="@Model.Photo"
                                       id="Photo" />
                                <input type="hidden" name="MemberPhotoString"
                                       id="PhotoString" />

                                <div id="DivPhotoString"
                                     class="wizard-image-div">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Citizenship Front</label>
                                <input type="file"
                                       name="CitizenshipFrontString"
                                       class="form-control CitizenshipFrontString" />

                                <input type="hidden" name="CitizenshipFront"
                                       value="@Model.CitizenshipFront"
                                       id="CitizenshipFront" />
                                <input type="hidden" name="CitizenshipFrontImageString"
                                       id="CitizenshipFrontString" />

                                <div id="DivCitizenshipFrontString"
                                     class="wizard-image-div">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Citizenship Back</label>
                                <input type="file"
                                       name="CitizenshipBackString"
                                       class="form-control CitizenshipBackString" />

                                <input type="hidden" name="CitizenshipBack"
                                       value="@Model.CitizenshipBack"
                                       id="CitizenshipBack" />
                                <input type="hidden" name="CitizenshipBackImageString"
                                       id="CitizenshipBackString" />

                                <div id="DivCitizenshipBackString"
                                     class="wizard-image-div">

                                </div>
                            </div>
                        </div>
                    </div>
                    <label><b>Payment Details</b></label>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Membership Type</label>
                                <select class="form-control" 
                                    id="ShareTypeId"
                                    name="ShareTypeId">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Referred By</label>
                                <input type="text" value="@Model.ReferenceReferalCode"
                                       name="ReferenceReferalCode"
                                       placeholder="Enter Referal Code"
                                       class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Payment Voucher / Screenshot</label>
                                <input type="file"
                                       name="VoucherImageString"
                                       class="form-control VoucherImageString" />

                                <input type="hidden" name="VoucherImage"
                                       value="@Model.VoucherImage"
                                       id="VoucherImage" />

                                <input type="hidden" name="VoucherImageString"
                                       id="VoucherImageString" />

                                <div id="DivVoucherImageString"
                                     class="wizard-image-div">

                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" id="btnSave" name="SaveButton" class="btn btn-primary btn-md"><i class="fa fa-save"></i> <span> Save </span> </button>
                    <a href="/MemberList" class="btn btn-danger"><i class="fa fa-window-close"></i> Close </a>
                </form>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/web/back-end/js")
<script src="~/Assets/Backend/js/custom/plugin/jquery.validate.min.js"></script>

<script>
    LoadGender('@Model.GenderId');
    LoadProvince('@Model.PermanentProvinceId', "#PermanentProvinceId");
    LoadProvince('@Model.TemporaryProvinceId', "#TemporaryProvinceId");
    LoadOccupation('@Model.OccupationId');
    LoadShareTypes('@Model.ShareTypeId');
    if (parseInt('@Model.PermanentProvinceId') > 0)
        LoadDistrict('@Model.PermanentDistrictId', '@Model.PermanentProvinceId', "#PermanentDistrictId")

    if (parseInt('@Model.TemporaryProvinceId') > 0)
        LoadDistrict('@Model.TemporaryDistrictId', '@Model.TemporaryProvinceId', "#TemporaryDistrictId")

    $("#PermanentProvinceId").change(function () {
        var provinceId = $("#PermanentProvinceId").val();
        LoadDistrict('@Model.PermanentDistrictId', provinceId, "#PermanentDistrictId")
    })

    $("#TemporaryProvinceId").change(function () {
        var provinceId = $("#TemporaryProvinceId").val();
        LoadDistrict('@Model.TemporaryDistrictId', provinceId, "#TemporaryDistrictId")
    })

    var $checkoutForm = $('#form_validation').validate({
        ignore: [],
        rules: {
            'FirstName': {
                required: true,
                maxlength: 50
            },
            'LastName': {
                required: true,
                maxlength: 50
            },
            'CitizenshipNumber': {
                required: true,
                maxlength: 30
            },
            'MobileNumber': {
                required: true,
                maxlength: 20
            },
            'DateOfBirthBS': {
                required: true,
                maxlength: 10
            },
            'GenderId': {
                required: true
            },
            'PermanentProvinceId': {
                required: true
            },
            'PermanentDistrictId': {
                required: true
            },
            'PermanentMunicipality': {
                required: true,
                maxlength: 30
            },
            'PermanentWardNumber': {
                required: true,
                maxlength: 3
            },
            'TemporaryProvinceId': {
                required: true
            },
            'TemporaryDistrictId': {
                required: true
            },
            'TemporaryMunicipality': {
                required: true,
                maxlength: 30
            },
            'TemporaryWardNumber': {
                required: true,
                maxlength: 3
            },
            'ReferenceReferalCode': {
                required: true,
                maxlength: 30
            },
            'ShareTypeId': {
                required: true
            },
            'PhotoString': {
                required: true
            },
            'CitizenshipFrontString': {
                required: true
            },
            'CitizenshipBackString': {
                required: true
            },
            'VoucherImageString': {
                required: true
            }
        },
        submitHandler: function (form) {
            $("#btnSave").prop('disabled', true)
            $("#btnSave span").html('Saving...')

            var id = $('input[name="MemberId"').val();
            var url = "/Member/Insert";
            if (parseInt(id) > 0) {
                url = "/Member/Update";
            }
            $.ajax({
                type: "POST",
                url: url,
                data: $("#form_validation").serialize(),
                success: function (message) {
                    showResultMessage(message, "/MemberList")
                },
                error: function (message) {
                    showResultMessage(message)
                }
            })
        },

        errorPlacement: function errorPlacement(error, element) {
            var $parent = $(element).parents('.form-group');

            // Do not duplicate errors
            if ($parent.find('.jquery-validation-error').length) {
                return false;
            }

            $parent.append(
                error.addClass('jquery-validation-error small form-text invalid-feedback')
            );
        },
        highlight: function (element) {
            var $el = $(element);
            var $parent = $el.parents('.form-group');
            $el.addClass('is-invalid');

            // Select2 and Tagsinput
            if ($el.hasClass('select2-hidden-accessible') || $el.attr('data-role') === 'tagsinput') {
                $el.parent().addClass('is-invalid');
            }

        },
        unhighlight: function (element) {
            $(element).parents('.form-group').find('.is-invalid').removeClass('is-invalid');
        }
    });
</script>

