@model IEnumerable<Web.Entity.Dto.MemberDto>

@{
    Layout = null;
    Web.Entity.Dto.MenuAccessPermissionDto menu = ViewBag.Menus;
}

<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>S.N.</th>
            <th hidden="hidden"></th>
            <th>Details</th>
            <th>Status</th>
            <th>Referal Code</th>
            <th>Referred By</th>
            <th>Status</th>
            @*<th>Applied Kitta</th>*@
            <th>Type</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0; }
        @foreach (var x in Model)
        {
            string approvalClassName = "";
            i++;
            <tr>
                <td>
                    @i
                    <input type="hidden" value="@x.AppliedKitta" name="AppliedKitta" />
                    <input type="hidden" value="@x.ShareTypeId" name="ShareTypeId" />
                    <input type="hidden" value="@x.ShareholderId" name="ShareholderId" />
                </td>
                <td hidden="hidden">@x.MemberId</td>
                <td>
                    <label>Fullname : @x.FullName </label><br />
                    <label>Phone : @x.MobileNumber</label><br />
                    <label>Email : @x.Email </label><br />
                    <label>Created Date : @x.CreatedDate.ToShortDateString()</label><br />
                </td>

                <td>
                    <label>
                        @if (x.ApprovalStatus == Web.Entity.Infrastructure.ApprovalStatus.Approved)
                        {
                            approvalClassName = "badge badge-success";
                        }
                        else if (x.ApprovalStatus == Web.Entity.Infrastructure.ApprovalStatus.Rejected)
                        {
                            approvalClassName = "badge badge-danger";
                        }
                        else
                        {
                            <label>@x.FormStatus</label> <br />
                            approvalClassName = "badge badge-primary";
                        }
                        <span class="@approvalClassName">@x.ApprovalStatus</span>
                        @if (x.ApprovalStatus == Web.Entity.Infrastructure.ApprovalStatus.Approved)
                        {
                            <label>
                                @Convert.ToDateTime(x.ApprovedDate).ToShortDateString()
                            </label>
                        }

                        @if (!string.IsNullOrEmpty(x.ApprovalRemarks))
                        {
                            <br />
                            <span class="badge badge-dark">@x.ApprovalRemarks</span>
                        }
                    </label>
                </td>
                <td>
                    <label>@x.ReferalCode</label>
                </td>
                <td>@x.ReferenceFullName</td>
                <td>
                    @if (x.IsActive == true)
                    {
                        <span class="badge badge-success"> Active </span>
                    }
                    else
                    {
                        <span class="badge badge-danger"> InActive </span>
                    }
                </td>
                <td>
                    @x.ShareTypeName
                </td>
                <td>
                    @if (x.FormStatus ==
                        Web.Entity.Infrastructure.FormStatus.Complete &&
                            menu.ApprovalAccess == true && (x.ApprovalStatus ==
                            Web.Entity.Infrastructure.ApprovalStatus.UnApproved || x.ApprovalStatus ==
                            Web.Entity.Infrastructure.ApprovalStatus.Rejected))
                    {
                        <button class="btn btn-success btn-circle btn-sm"
                                id="btnApprove" title="Approve">
                            <i class="fas fa-check"></i>
                        </button>
                    }
                    @if (menu.RejectAccess == true && x.ApprovalStatus != Web.Entity.Infrastructure.ApprovalStatus.Rejected)
                    {
                        <button class="btn btn-danger btn-circle btn-sm"
                                id="btnReject" title="Reject">
                            <i class="fas fa-minus"></i>
                        </button>
                    }
                    @if (x.IsActive == true)
                    {
                        @*<a class="btn btn-secondary btn-circle btn-sm" href="#"
                               onclick="SendEmail('@x.MemberId')" title="Send Email">
                                <i class="fas fa-envelope"></i>
                            </a>*@
                    }
                    <a href="~/MemberDetails/@x.MemberId"
                       target="_blank"
                       class="btn btn-primary btn-circle btn-sm"
                       id="btnView" title="View Details">
                        <i class="fas fa-eye"></i>
                    </a>
                    @if (menu.ModifyAccess == true || x.UserId == Convert.ToInt32(User.Identity.Name))
                    {
                        @*<a href="~/ModifyMember/@x.MemberId"
                               class="btn btn-success btn-circle btn-sm"
                               id="btnEditMember" title="Edit Details">
                                <i class="fas fa-edit"></i>
                            </a>*@
                    }
                    @if (x.ApprovalStatus == Web.Entity.Infrastructure.ApprovalStatus.Approved && x.ShareholderId == null && menu.ApprovalAccess == true)
                    {
                        <a href="#" class="btn btn-secondary btn-circle btn-sm"
                           id="btnAddMemberToShareholder" title="Add to Shareholder">
                            <i class="fas fa-plus"></i>
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Approve Member</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form id="form_validation">
                            <input type="hidden" name="MemberId"
                                   id="MemberId" />
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="floating-label">Account Head</label>
                                            <select name="AccountHeadId" id="AccountHeadId"
                                                    class="form-control">
                                                <option value="">Select Account Head</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="floating-label">Share Type</label>
                                            <select name="ShareTypeId" id="ShareTypeId"
                                                    class="form-control">
                                                <option value="">Select Share Type</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div style="float:right">
                                <button type="submit" id="btnSave" class="btn btn-primary" onclick="SaveData(event)">Save</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- reject Modal -->
<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="rejectModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rejectModalLabel">Reject Remarks</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form id="form_validation">
                            <input type="hidden"
                                   id="MemberId1" />
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" placeholder="Remarks" class="form-control" id="Remarks" />
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div style="float:right">
                                <button type="submit" id="btnSave" class="btn btn-primary" onclick="SaveRejectData(event)">Save</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- add member to shareholder Modal -->
<div class="modal fade" id="addMemberToShareholder" tabindex="-1" role="dialog" aria-labelledby="addMemberToShareholder" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rejectModalLabel">Add to shareholder</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form id="member_Shareholder_form">
                            <input type="hidden" id="hdnMemberId" name="MemberId" />
                            <input type="hidden" id="hdnShareholderId" name="ShareholderId" />
                                   
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Applied Kitta</label>
                                            <input type="text" placeholder="Applied Kitta"
                                                   name="TotalKitta" 
                                                   class="form-control" id="txtAppliedKitta" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Share Type</label>
                                            <select class="form-control" id="ddlShareTypeId1"
                                                    name="ShareTypeId">
                                                <option value="">Select Value</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" 
                                                        name="Status" checked="checked"
                                                        value="true" type="checkbox" />
                                                    Is Active
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div style="float:right">
                                <button type="submit" id="btnAddShareholder"
                                        class="btn btn-primary">
                                    Save
                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/web/back-end/js")
<script src="~/Assets/Backend/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Assets/Backend/js/custom/filterMemberList.js"></script>
<script>
    LoadAccountHead(null, "#AccountHeadId");
    $("#dataTable").on('click', '#btnApprove', function () {
        var currentRow = $(this).closest("tr");
        var data = currentRow.find("td:eq(1)").html();
        $("#MemberId").val(data);
        $("#exampleModal").modal();
    });

    $("#dataTable").on('click', '#btnReject', function () {
        var currentRow = $(this).closest("tr");
        var data = currentRow.find("td:eq(1)").html();
        $("#MemberId1").val(data);
        $("#rejectModal").modal();
    });

    $("#dataTable").on('click', '#btnAddMemberToShareholder', function () {
        var currentRow = $(this).closest("tr");
        var shareholderId = currentRow.find("td:eq(0)").find("input[name='ShareholderId']").val();
        var shareTypeId = currentRow.find("td:eq(0)").find("input[name='ShareTypeId']").val();
        var appliedKitta = currentRow.find("td:eq(0)").find("input[name='AppliedKitta']").val();
        var memberId = currentRow.find("td:eq(1)").html();

        $("#hdnMemberId").val(memberId);
        $("#hdnShareholderId").val(shareholderId);

        if (parseInt(appliedKitta) > 0) {
            $("#txtAppliedKitta").val(appliedKitta);
        }
        

        $("#ddlShareTypeId1").val(shareTypeId);
        $("#addMemberToShareholder").modal();
    });

    function SaveData(evt) {
        evt.preventDefault();
        var MemberId = $("#MemberId").val();
        var AccountHeadId = $("#AccountHeadId").val();
        var ShareTypeId = $("#ShareTypeId").val();
        if (AccountHeadId.length == 0) {
            showMessage_Only({ messageType: "error", message: "Account Head is required"});
            return false;
        }

        if (ShareTypeId.length == 0) {
            showMessage_Only({ messageType: "error", message: "Share Type is required" });
            return false;
        }
        $("#btnSave").prop('disabled', true)
        $("#btnSave span").html('Saving...')

        $.ajax({
            type: "POST",
            url: '/Member/ApproveMember',
            data: { MemberId: MemberId, AccountHeadId: AccountHeadId, ShareTypeId: ShareTypeId },
            success: function (message) {
                showResultMessage(message, getCurrentUrl())

                $("#btnSave").prop('disabled', false)
                $("#btnSave span").html('Save')
            },
            error: function (message) {
                showResultMessage(message, getCurrentUrl());
                $("#btnSave").prop('disabled', false)
                $("#btnSave span").html('Save')
            }
        })
    }

    function SaveRejectData(evt) {
        debugger;
        evt.preventDefault();
        $("#btnSave").prop('disabled', true)
        $("#btnSave span").html('Saving...')
        var MemberId = $("#MemberId1").val();
        var Remarks = $("#Remarks").val();
        if (Remarks.length == 0) {
            ShowErrorMessage("Remarks is required");
            return false;
            $("#btnSave").prop('disabled', false)
            $("#btnSave span").html('Save')
        }
        $.ajax({
            type: "POST",
            url: '/Member/RejectMember',
            data: { MemberId: MemberId, remarks: Remarks },
            success: function (message) {
                showResultMessage(message, getCurrentUrl());
            },
            error: function (message) {
                showResultMessage(message, getCurrentUrl());
            }
        })
    }

    function SendMemberApproveEmail(id) {
        $.ajax({
            type: 'post',
            url: '/Member/SendEmailOnApprove',
            data: { MemberId: id },
            success: function (resp) {

            },
            error: function (resp) {

            }
        })
    }

    function getCurrentUrl() {
        var ApprovalStatus = '@ViewBag.ApprovalStatus';
        var FormStatus = '@ViewBag.FormStatus';
        var ReferenceId = '@ViewBag.ReferenceId';
        var ShareTypeId = '@ViewBag.ShareTypeId';
        var AgentId = '@ViewBag.ShareTypeId';

        var url = "/MemberList?ApprovalStatus=" + ApprovalStatus + "&FormStatus=" + FormStatus + "&ReferenceId=" + ReferenceId + "&ShareTypeId=" + ShareTypeId + "&AgentId=" + AgentId;
        return url;

    }

    $("#btnAddShareholder").click(function (evt) {
        evt.preventDefault();
        var totalKitta = $("#txtAppliedKitta").val();
        if (totalKitta == '' || totalKitta == 0 || parseInt(totalKitta)<=0) {
            showMessage_Only({ messageType: "error", message: "Please Enter Kitta" });
            return false;
        }
        $("#btnAddShareholder").prop('disabled', true);
        $("#btnAddShareholder").html('Saving......');
        $.ajax({
            type: 'post',
            url: '/Member/AddMemberToShareholder',
            data: $("#member_Shareholder_form").serialize(),
            success: function (resp) {
                showResultMessage(resp, getCurrentUrl());
                $("#btnAddShareholder").prop('disabled', false);
                $("#btnAddShareholder").html('Save');
            },
            error: function (resp) {
                showResultMessage(resp, getCurrentUrl());
            }
        })

    })
</script>
