@model Web.Entity.Dto.MemberDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    NumberSettings numberSettings = new NumberSettings();
    Web.Entity.Dto.MenuAccessPermissionDto menus = ViewBag.Menus;
}
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h2 class="h3 mb-0 text-gray-800">Member Details</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Fund Development</a></li>
            <li class="breadcrumb-item active" aria-current="page">Member</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <b>Personal Details</b>
                    <div class="row">
                        <label class="col-md-6">
                            Full Name : @Model.FullName
                        </label>
                        <label class="col-md-6">
                            Father's Name : @Model.FathersName
                        </label>
                        <label class="col-md-5">
                            Husband's Name : @Model.HusbandName
                        </label>
                        <label class="col-md-2">
                            Age : @Model.Age
                        </label>
                        <label class="col-md-5">
                            Citizenship Number: @Model.CitizenshipNumber
                        </label>

                        <label class="col-md-6">
                            Is Approved :
                            @if (Model.IsApproved ==
                                Web.Entity.Infrastructure.ApprovalStatus.Approved)
                            {
                                <span class="badge badge-success">
                                    APPROVED
                                </span>
                                <span>@Model.ApprovedByFullName , @Model.ApprovedDate</span>
                            }
                            else if (Model.IsApproved ==
                                Web.Entity.Infrastructure.ApprovalStatus.UnApproved)
                            {
                                <span class="badge badge-primary">
                                    UNAPPROVED
                                </span>
                            }
                            else if (Model.IsApproved ==
                                Web.Entity.Infrastructure.ApprovalStatus.Rejected)
                            {
                                <span class="badge badge-danger">
                                    REJECTED
                                </span>
                                <span class="badge badge-dark">
                                    @Model.RejectRemarks
                                </span>
                            }
                        </label>

                        <label class="col-md-3">
                            <b>Member Code</b> : @Model.MemberCode
                        </label>
                        <label class="col-md-3">
                            <b>Referal Code</b> : @Model.ReferalCode
                        </label>
                        <label class="col-md-12">
                            Created On : @Model.CreatedDate , @Model.CreatedByFullName
                        </label>

                    </div>
                    <b>Contact Details</b>
                    <div class="row">
                        <label class="col-md-6">
                            Contact Number : @Model.ContactNumber
                        </label>
                        <label class="col-md-6">
                            Email Address : @Model.EmailAddress
                        </label>
                    </div>
                    <b>Address Details</b>
                    <div class="row">
                        <label class="col-md-4">
                            Former Address : @Model.FormerAddress
                        </label>

                        <label class="col-md-4">
                            Changed Address : @Model.PermanentAddress
                        </label>

                        <label class="col-md-4">
                            Temporary Address :  @Model.TemporaryMunicipalityName-@Model.TemporaryWardNumber
                            , @Model.TemporaryDistrictName
                        </label>
                    </div>

                    <b>Nominee Details</b>
                    <div class="row">
                        <label class="col-md-6">
                            Full Name : @Model.NomineeName
                        </label>
                    </div>
                    <br />
                    <b>Share Details</b>
                    <div class="row">
                        <label class="col-md-4">
                            Share Type : @Model.ShareTypeName
                        </label>
                        <label class="col-md-4">
                            Price Per Kitta : @Model.SharePricePerKittaString
                        </label>
                        <label class="col-md-4">
                            Applied Share Kitta : @Model.AppliedShareKittaString
                        </label>
                        <label class="col-md-4">
                            Total Amount :
                            <span class="badge badge-info">
                                @Model.TotalShareAmountString
                            </span>
                        </label>
                        <label class="col-md-4">
                            Paid Amount :
                            <span class="badge badge-success">
                                @Model.TotalSharePaidAmountString
                            </span>
                        </label>
                        <label class="col-md-4">
                            DUE :
                            @if (Model.TotalShareDueAmount > 0)
                            {
                                <span class="badge badge-danger">
                                    @Model.TotalShareDueAmountString
                                </span>
                            }
                            else
                            {
                                <span class="badge badge-success">
                                    CLEARED
                                </span>
                            }
                        </label>
                    </div>
                    <b>Seller Details</b>
                    <div class="row">
                        <label class="col-md-4">
                            Name : @Model.SellerFullName
                        </label>
                        <label class="col-md-4">
                            Phone Number : @Model.SellerPhoneNumber
                        </label>
                    </div>
                    <b>Reference Details</b>
                    <div class="row">
                        <label class="col-md-4">
                            Name : @Model.ReferenceFullName
                        </label>
                        <label class="col-md-4">
                            Phone Number : @Model.ReferencePhoneNumber
                        </label>
                        <label class="col-md-4">
                            Ref Code/Licences No. : @Model.ReferenceLicenceNumber
                        </label>
                    </div>
                    <br />
                    <b>Payment Details</b><br />
                    @if (Model.TotalShareDueAmount > 0 && menus.WriteAccess && Model.IsApproved == Web.Entity.Infrastructure.ApprovalStatus.Approved)
                    {
                        <button class="btn btn-sm btn-success"
                                type="submit" data-bs-toggle="modal"
                                id="btnAddSharePayment"
                                title="Make New Payment">
                            <i class="fas fa-plus"></i> Payment
                        </button>
                    }
                    <table class="table align-items-center table-flush table-hover" id="dataTable">
                        <thead class="thead-light">
                            <tr>
                                <th>S.N.</th>
                                <th>Amount</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 0; }
                            @foreach (var x in Model.MemberPaymentLogDtos)
                            {
                                i++;
                                <tr>
                                    <td>@i</td>
                                    <td>
                                        @numberSettings.CommaSeparate(x.Amount)
                                    </td>
                                    <td>
                                        @x.CreatedDate
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                    <a href="~/AddNewMember" class="btn btn-primary btn-sm">
                        <i class="fa fa-plus"></i>
                        Add New
                    </a>
                    @if (Model.IsApproved == Web.Entity.Infrastructure.ApprovalStatus.UnApproved)
                    {
                        <a href="~/ModifyMember/@Model.MemberId" 
                           class="btn btn-success btn-sm">
                            <i class="fa fa-edit"></i>
                            Modify
                        </a>
                    }
                    else
                    {
                        <a href="~/ModifyApprovedMember/@Model.MemberId" 
                           class="btn btn-secondary btn-sm">
                            <i class="fa fa-edit"></i>
                            Modify
                        </a>
                    }

                    <a href="~/MemberList" class="btn btn-danger btn-sm">
                        <i class="fa fa-window-close"></i>
                        Close
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="mdlAddShareAmount" tabindex="-1" role="dialog" aria-labelledby="mdlAddShareAmount"
     data-keyboard="false" data-backdrop="static"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelLogout">
                    Add/Modify Share Amount
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label class="col-md-12"><b>TOTAL DUE : </b>
                        <span class="badge badge-danger">
                            @Model.TotalShareDueAmountString
                        </span>
                    </label>
                </div>
                <form id="AddShareAmount">
                    <input type="hidden" value="@Model.MemberId" name="MemberId" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Amount</label>
                                <input type="text" placeholder="Enter Amount"
                                    class="form-control" name="Amount" id="txtShareAmount" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary"
                                id="btnSaveShareAmount">
                            Save
                        </button>
                        <button type="button" class="btn btn-secondary" 
                                data-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/web/backend/jquery-ui")
<script>
    $("#btnAddSharePayment").click(function (evt) {
        $("#mdlAddShareAmount").modal();
        clearAllTextBox();
    })

    function clearAllTextBox() {
        $("#txtShareAmount").val('');
        unhighlightElement("#txtShareAmount");
    }

    $("#btnSaveShareAmount").click(function (evt) {
        evt.preventDefault();
        var txtAmount = $("#txtShareAmount").val();
        if (!txtAmount.length) {
            highlightElement("#txtShareAmount");
            return false;
        }

        $("#btnSaveShareAmount").html('Saving......');
        $("#btnSaveShareAmount").prop('disabled', true);
        $.ajax({
            type: 'post',
            url: '/Member/AddPaymentLog',
            data: { Amount: txtAmount, MemberId: '@Model.MemberId' },
            success: function (resp) {
                $("#btnSaveShareAmount").prop('disabled', false);
                $("#btnSaveShareAmount").html('Save');
                showResultMessage(resp, "/MemberDetails/@Model.MemberId");
            },
            error: function (resp) {
                showResultMessage(resp);
            },
        });
    })
</script>
