@model Web.Entity.Dto.MemberDto
@{
    ViewBag.Title = "MemberDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Assets/Backend/css/custom/member-detail.css" rel="stylesheet" />
<div class="card-body">
    <div class="card-header py-3">
        <b>Member Details</b>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered" width="100%" cellspacing="0">
            <tbody>
                <tr>
                    <td><b>First Name : </b> @Model.FirstName</td>
                    <td><b>Middle Name : </b> @Model.MiddleName</td>
                    <td><b>Last Name : </b> @Model.LastName</td>
                </tr>
                <tr>
                    <td><b>Gender : </b> @Model.GenderName</td>
                    <td>
                        <b>Date of Birth : </b>
                        @Model.DateOfBirthBS (B.S.)<br />
                        @Convert.ToDateTime(Model.DateOfBirthAD).ToShortDateString().Replace('/', '-') (A.D.)
                    </td>
                    <td><b>Citizenship Number : </b> @Model.CitizenshipNumber</td>
                </tr>
                <tr>
                    <td><b>Form Status : </b> @Model.FormStatus</td>
                    <td>
                        <b>Approval Status : </b>
                        @if (Model.ApprovalStatus == Web.Entity.Infrastructure.ApprovalStatus.Approved)
                        {
                            <span class="badge badge-success">
                                Approved
                            </span>
                            if (Model.ApprovedDate != null)
                            {
                                <label>
                                    @Convert.ToDateTime(Model.ApprovedDate).ToShortDateString()
                                </label>
                            }
                        }
                        else if (Model.ApprovalStatus == Web.Entity.Infrastructure.ApprovalStatus.UnApproved)
                        {
                            <span class="badge badge-primary">
                                Approval Pending
                            </span>
                        }
                        else if (Model.ApprovalStatus == Web.Entity.Infrastructure.ApprovalStatus.Rejected)
                        {
                            <span class="badge badge-danger">
                                Rejected
                            </span>
                            if (!string.IsNullOrEmpty(Model.ApprovalRemarks))
                            {
                                <span class="badge badge-dark">
                                    @Model.ApprovalRemarks
                                </span>
                            }
                        }
                    </td>
                    <td>
                        <b>Is Active : </b>
                        @if (Model.IsActive == true)
                        {
                            <span class="badge badge-success">Active</span>
                        }
                        else
                        {
                            <span class="badge badge-danger">InActive</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td><b>Mobile Number : </b> @Model.MobileNumber</td>
                    <td><b>Email : </b> @Model.Email</td>
                    <td>
                        <b>Occupation : </b>
                        @if (Model.OcuupationName?.ToLower() == "other")
                        {
                            <label>@Model.OtherOccupationRemarks</label>
                        }
                        else
                        {
                            <label>@Model.OcuupationName</label>
                        }
                    </td>
                </tr>
                <tr>
                    <td><b>Member Code : </b> @Model.MemberCode</td>
                    <td><b>Referal Code : </b> @Model.ReferalCode</td>
                    <td><b>Referred By : </b> @Model.ReferenceFullName</td>
                    @*<td><b>Share Type : </b> @Model.ShareTypeName</td>*@
                </tr>
                <tr>
                    @*<td><b>Referred By : </b> @Model.ReferenceFullName</td>
                    <td><b>Amount : </b> @Model.Amount</td>*@
                    <td>
                        <b>Is Shareholder? : </b>
                        @if (Model.ShareholderId > 0 && Model.ShareholderIsActive==1)
                        {
                            <span class="badge badge-success">Yes</span> 
                            @Convert.ToDateTime(Model.ShareholderDate).ToShortDateString()
                        }
                        else
                        {
                            <span class="badge badge-danger">No</span>
                        }
                    </td>
                    <td colspan="2">
                        <b>Created Date : </b> @Model.CreatedDate.ToShortDateString()
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered" width="100%" cellspacing="0">
            <tbody>
                <tr>
                    <th colspan="3">Share Details : </th>
                </tr>
                <tr>
                    <td><b>Share Type : </b> @Model.ShareTypeName</td>
                    <td><b>Registeration Amount : </b> @Model.Amount</td>
                    <td><b>Total Kitta : </b> @Model.TotalKitta</td>
                </tr>
               
            </tbody>
        </table>
        <table class="table table-bordered" width="100%" cellspacing="0">
            <tbody>
                <tr>
                    <th colspan="3">Former Address : </th>
                </tr>
                <tr>
                    <td><b>District : </b> @Model.FormerDistrictName</td>
                    <td><b>VDC/Municiplaity : </b> @Model.FormerMunicipalityName</td>
                    <td><b>Ward No. : </b> @Model.FormerWardNumber</td>
                </tr>
                <tr>
                    <th colspan="3">Permanent Address : </th>
                </tr>
                <tr>
                    <td>
                        <b>District : </b>
                        @Model.PermanentDistrictName (@Model.PermanentProvinceName)
                    </td>
                    <td><b>RM/Municiplaity : </b> @Model.PermanentMunicipality</td>
                    <td><b>Ward No. : </b> @Model.PermanentWardNumber</td>
                </tr>
                <tr>
                    <th colspan="3">Temporary Address : </th>
                </tr>
                @if (Model.TemporaryIsOutsideNepal == false)
                {
                    <tr>
                        <td>
                            <b>District : </b>
                            @Model.TemporaryDistrictName (@Model.TemporaryProvinceName)
                        </td>
                        <td><b>RM/Municiplaity : </b> @Model.TemporaryMunicipality</td>
                        <td><b>Ward No. : </b> @Model.TemporaryWardNumber</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td><b>Country Name : </b> @Model.TemporaryCountryName</td>
                        <td colspan="2"><b>Address : </b> @Model.TemporaryAddress</td>
                    </tr>
                }
            </tbody>
        </table>
        <table class="table table-bordered" width="100%" cellspacing="0" id="documentTable">
            <tbody>
                <tr>
                    <th colspan="4">
                        Documents
                        <button class="btn btn-sm btn-success" id="btnShowDocument"
                                onclick="showDocument()">
                            <i class="fas fa-eye"></i>
                        </button>
                    </th>
                </tr>
                <tr>
                    <td>
                        <input type="hidden" id="CitizenShipFrontImageString" />
                        Citizenship Front
                    </td>
                    <td>
                        <a href="#" id="CitizenShipFrontImage">

                        </a>
                    </td>
                    <td>
                        <input type="hidden" id="CitizenShipBackImageString" />
                        Citizenship Back

                    </td>
                    <td>
                        <a id="CitizenShipBackImage" href="#">

                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="hidden" id="PhotoImageString" />
                        Photo

                    </td>
                    <td>
                        <a id="PhotoImage" href="#">

                        </a>
                    </td>
                    <td>
                        <input type="hidden" id="PaymentImageString" />
                        Payment Proof
                    </td>
                    <td>
                        <a id="PaymentImage" href="#">

                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="/MemberList" class="btn btn-danger"><i class="fa fa-window-close"></i> Close </a>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row ImageDiv">

                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/web/back-end/js")
<script>
    function ShowImage(imageName) {
        $(".ImageDiv").empty();
        $("#exampleModal").modal();
        var $html = '<img src="/ImageStorage/' + imageName + '"/>';
        $(".ImageDiv").html($html);
    }

    function showDocument() {
        var memberId = '@Model.MemberId';
        $("#btnShowDocument").prop('disabled', true);

        $.ajax({
            type: "post",
            url: "/Member/GetMemberDocuments",
            data: { memberId },
            success: function (resp) {
                if (resp != null) {
                    $("#PhotoImage")
                        .html('<img src="/ImageStorage/' + resp.Photo + '"/>');

                    $("#CitizenShipFrontImage")
                        .html('<img src="/ImageStorage/' + resp.CitizenshipFront + '"/>');

                    $("#CitizenShipBackImage")
                        .html('<img src="/ImageStorage/' + resp.CitizenshipBack + '"/>');

                    $("#PaymentImage")
                        .html('<img src="/ImageStorage/' + resp.VoucherImage + '"/>');

                    $("#PhotoImageString").val(resp.Photo);
                    $("#CitizenShipFrontImageString").val(resp.CitizenshipFront);
                    $("#CitizenShipBackImageString").val(resp.CitizenshipBack);
                    $("#PaymentImageString").val(resp.VoucherImage);
                }
            },
            error: function (resp) {
                showResultMessage(resp)
                $("#documentTable button").prop('disabled', false);
            }
        })
    }

    $("#documentTable").on('click', 'a', function (event) {
        event.preventDefault();
        var idName = $(this).attr("id");
        var image_name = $("#" + idName + "String").val();
        ShowImage(image_name);
    });
</script>