@model IEnumerable<Web.Entity.Dto.MemberDto>
@{
    Web.Entity.Dto.MenuAccessPermissionDto menus = ViewBag.Menus;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h2 class="h3 mb-0 text-gray-800">Member List</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Fund Development</a></li>
            <li class="breadcrumb-item active" aria-current="page">Member</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form id="form_validation">
                <div class="row">
                    <div class="col-sm-3 col-md-3">
                        <div class="form-group">
                            <label>Approval Status</label>
                            <select class="form-control" id="ApprovalStatus">
                                @if (ViewBag.ApprovalStatus == 2)
                                {
                                    <option value="1">UnApproved</option>
                                    <option value="2" selected="selected">Approved</option>
                                    <option value="3">Rejected</option>
                                }
                                else if (ViewBag.ApprovalStatus == 3)
                                {
                                    <option value="1">UnApproved</option>
                                    <option value="2">Approved</option>
                                    <option value="3" selected="selected">Rejected</option>
                                }
                                else
                                {
                                    <option value="1" selected="selected">UnApproved</option>
                                    <option value="2">Approved</option>
                                    <option value="3">Rejected</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="form-group">
                            <label>Share Type</label>
                            <select class="form-control" id="ddlShareTypeId">
                                <option value="">Select Value</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="form-group">
                            <label>Referred By</label>
                            <select class="form-control" id="select2">
                                <option value="0">Referred By</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="form-group">
                            <label>Select Agent</label>
                            <select class="form-control" id="ddlAgentId">
                                <option value="">Select Value</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 col-md-5">
                        <div class="form-group">
                            <label>Search By Phone Number/Citizenship No./Referal Code</label>
                            <input type="text" class="form-control" name="txtSearchQuery"
                                id="txtSearchQuery" value="@ViewBag.SearchQuery"
                                placeholder="Enter Phone No./Citizenship No./Referal Code" />
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-group">
                            <label>Select Seller</label>
                            <select class="form-control" id="ddlSellerShareholderList">
                                <option value="">Select Value</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <button type="submit" id="btnSearch"
                                class="btn btn-primary">
                            Search
                        </button>
                        <button type="button" id="btnClear" class="btn btn-secondary">
                            Clear
                        </button>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header">
                    @if (menus.WriteAccess)
                    {
                        <a href="~/AddNewMember" class="btn btn-info btn-sm">
                            <i class="fas fa-plus"></i> Add New
                        </a>
                    }
                    @if (menus.ModifyAccess)
                    {
                        <button id="btnEditMember"
                                class="btn btn-primary btn-sm btn-member-list">
                            <i class="fas fa-edit"></i> Edit
                        </button>

                        <button id="btnEditMemberApprove"
                                class="btn btn-secondary btn-sm btn-member-list">
                            <i class="fas fa-edit"></i> Edit
                        </button>
                    }
                    @if (menus.ApprovalAccess)
                    {
                        <button id="btnApproveMember"
                                class="btn btn-success btn-sm btn-member-list">
                            <i class="fas fa-check"></i> Approve
                        </button>
                    }
                    @if (menus.RejectAccess)
                    {
                        <button id="btnRejectMember"
                                class="btn btn-danger btn-sm btn-member-list">
                            <i class="fas fa-window-close"></i> Reject
                        </button>
                    }
                </div>                
                <div class="table-responsive p-3" id="result">
                    <i class="fas fa-cog"></i> Loading...............
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/web/backend/jquery-ui")
<script>
    $('#select2').select2();
    $('#ddlAgentId').select2();
    $('#ddlSellerShareholderList').select2();
    LoadReferenceMember('@ViewBag.ReferenceId', "#select2");
    LoadReferenceAgent('@ViewBag.AgentId', "#ddlAgentId");
    LoadShareTypes('@ViewBag.ShareTypeId', "#ddlShareTypeId");
    LoadShareholder('@ViewBag.SellerMemberId', "#ddlSellerShareholderList");

    $("#btnSearch").click(function (evt) {
        evt.preventDefault();
        debugger;
        $("#btnSearch").prop('disabled', true);
        $("#btnSearch").html('Searching....')
        var ApprovalStatus = $("#ApprovalStatus").val();
        var ReferenceId = $('#select2').find(':selected').val();
        var ShareTypeId = $('#ddlShareTypeId').val();
        var AgentId = $('#ddlAgentId').val();
        var SearchQuery = $('#txtSearchQuery').val();
        var SellerMemberId = $('#ddlSellerShareholderList').val();

        window.location.href = "/MemberList?ApprovalStatus=" + ApprovalStatus + "&ReferenceId=" + ReferenceId + "&ShareTypeId=" + ShareTypeId + "&AgentId=" + AgentId + "&SearchQuery=" + SearchQuery + "&SellerMemberId=" + SellerMemberId;
    })

    $("#btnClear").click(function (evt) {
        window.location.href="/MemberList"
    });

    function loadMemberList(ApprovalStatus, ReferenceId, ShareTypeId, AgentId, SearchQuery, SellerMemberId) {
        ShowHideEnableDisableButtonsOn_PageLoad(ApprovalStatus);
        $.ajax({
            type: "get",
            url: "/Member/FilterMemberList",
            data: { ApprovalStatus: ApprovalStatus, ReferenceId: ReferenceId, ShareTypeId: ShareTypeId, AgentId: AgentId, SearchQuery: SearchQuery, SellerMemberId: SellerMemberId },
            success: function (res) {
                $("#result").html(res)
                $("#btnSearch").prop('disabled', false);
                $("#btnSearch").html('Search')
            },
            error: function(res){
                console.log(res)
            }
        })
    }

    function ShowHideEnableDisableButtonsOn_PageLoad(ApprovalStatus) {
        $(".btn-member-list").prop('disabled', true);

        $("#btnApproveMember").show();
        $("#btnEditMember").show();
        $("#btnEditMemberApprove").hide();
        if (ApprovalStatus == 2) {
            $("#btnApproveMember").hide();
            $("#btnEditMember").hide();
            $("#btnEditMemberApprove").show();
        }
        else if (ApprovalStatus==3) {
            $("#btnRejectMember").hide();
            $("#btnEditMember").hide();
        }
    }

    $(document).ready(function () {
        var ReferenceId = '@ViewBag.ReferenceId';
        var ShareTypeId = '@ViewBag.ShareTypeId';
        var AgentId = '@ViewBag.AgentId';
        var SellerMemberId = '@ViewBag.SellerMemberId';
        var SearchQuery = '@ViewBag.SearchQuery';

        var ApprovalStatus = $("#ApprovalStatus").val();
        loadMemberList(ApprovalStatus, ReferenceId, ShareTypeId, AgentId, SearchQuery, SellerMemberId);
    });
   
</script>
