@model Web.Entity.Dto.MemberDto
@{
    ViewBag.Title = "ModifyMember";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .wizard-image-div {
        display: none;
    }

        .wizard-image-div img {
            height: 20%;
            width: 50%
        }
</style>
<h6 class="h6 mb-2 text-gray-800">Modify Member</h6>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form id="form_validation">
                    <input type="hidden" value="@Model.MemberId" name="MemberId" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" value="@Model.FirstName"
                                       name="FirstName" placeholder="First Name"
                                       class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Middle Name</label>
                                <input type="text" value="@Model.MiddleName"
                                       name="MiddleName" placeholder="Middle Name"
                                       class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" value="@Model.LastName"
                                       name="LastName" placeholder="Last Name"
                                       class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Citizenship Number</label>
                                <input type="text" value="@Model.CitizenshipNumber"
                                       name="CitizenshipNumber" placeholder="Citizenship Number"
                                       class="form-control" />
                            </div>
                        </div>

                    </div>
                    <h6><b>Permanent Address</b></h6>
                    @*<br />*@
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>RM/Municipallity Name</label>
                                <input type="text" value="@Model.PermanentMunicipality"
                                       name="PermanentMunicipality" placeholder="Permanent Municipality"
                                       class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Permanent Ward Number</label>
                                <input type="text" value="@Model.PermanentWardNumber"
                                       name="PermanentWardNumber" placeholder="Permanent WardNumber"
                                       class="form-control" />
                            </div>
                        </div>
                    </div>
                    <h6><b>Documents</b></h6>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Citizenship Front</label>
                                <input type="file"
                                       class="form-control CitizenshipFrontImageString" id="CitizenshipFrontImage" name="CitizenshipFrontImage" />
                                <input type="text" name="CitizenshipFront"
                                       id="CitizenshipFront" value="@Model.CitizenshipFront" />
                                <input type="text"
                                       name="CitizenshipFrontImageString"
                                       id="CitizenshipFrontImageString" />
                            </div>
                            <div id="DivCitizenshipFrontImageString"
                                 class="wizard-image-div">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Citizenship Back</label>
                                <input type="file"
                                       name="CitizenshipBackImage"
                                       class="form-control CitizenshipBackImageString" id="CitizenshipBackImage" />
                                <input type="text" name="CitizenshipBack"
                                       id="CitizenshipBack" value="@Model.CitizenshipBack"/>
                                <input type="text"
                                       name="CitizenshipBackImageString"
                                       id="CitizenshipBackImageString" />
                                <div id="DivCitizenshipBackImageString"
                                     class="wizard-image-div">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Refered By</label>
                                <input type="text" value="@Model.ReferenceReferalCode"
                                       name="ReferenceReferalCode" placeholder="Referred By"
                                       class="form-control" />
                            </div>
                        </div>
                    </div>
                    <button type="submit" id="btnSave" name="SaveButton" class="btn btn-primary btn-md"><i class="fa fa-save"></i> <span> Save </span> </button>
                    <a href="/MemberList" class="btn btn-danger"><i class="fa fa-window-close"></i> Close </a>
                </form>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/web/back-end/jquery-ui")
<script src="~/assets/custom-plugin/jquery.validate.min.js"></script>
@Scripts.Render("~/web/back-end/message")
<script src="~/assets/custom/member-registration-dataload.js"></script>
<script src="~/assets/custom/custom.js"></script>


<script>
    var $checkoutForm = $('#form_validation').validate({
        //ignore: [],
        //rules: {
        //    'RoleName': {
        //        required: true,
        //        maxlength: 50
        //    },
        //},
        submitHandler: function (form) {
            $("#btnSave").prop('disabled', true)
            $("#btnSave span").html('Saving...')

            $.ajax({
                type: "POST",
                url: "/Member/ModifyMember",
                data: $("#form_validation").serialize(),
                success: function (message) {
                    ShowMessage(message, "/MemberList")
                },
                error: function (message) {
                    ShowMessage(message, "/MemberList")
                }
            })
        },

        errorPlacement: function errorPlacement(error, element) {
            var $parent = $(element).parents('.form-group');

            // Do not duplicate errors
            if ($parent.find('.jquery-validation-error').length) {
                return false;
            }

            $parent.append(
                error.addClass('jquery-validation-error small form-text invalid-feedback')
            );
        },
        highlight: function (element) {
            var $el = $(element);
            var $parent = $el.parents('.form-group');

            $el.addClass('is-invalid');

            // Select2 and Tagsinput
            if ($el.hasClass('select2-hidden-accessible') || $el.attr('data-role') === 'tagsinput') {
                $el.parent().addClass('is-invalid');
            }

        },
        unhighlight: function (element) {
            $(element).parents('.form-group').find('.is-invalid').removeClass('is-invalid');
        }
    });

    function AllowPositiveNumber(event) {
        if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
            event.preventDefault();
        }
    }
</script>
