@model IEnumerable<Web.Entity.Dto.DesignationDto>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Web.Entity.Dto.MenuAccessPermissionDto menus = ViewBag.Menus;
}

<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h2 class="h3 mb-0 text-gray-800">Designation List</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Settings</a></li>
            <li class="breadcrumb-item active" aria-current="page">Designation</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-4">
                @if (menus.WriteAccess)
                {
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <a href="~/AddDesignation" class="btn btn-success btn-sm">
                            <i class="fas fa-plus"></i> Add New
                        </a>
                    </div>
                }
                <div class="table-responsive p-3">
                    <table class="table align-items-center table-flush table-hover" id="dataTable">
                        <thead class="thead-light">
                            <tr>
                                <th>S.N.</th>
                                <th hidden="hidden"></th>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 0; }
                            @foreach (var x in Model)
                            {
                                i++;
                                <tr>
                                    <td>@i</td>
                                    <td hidden="hidden">@x.DesignationId</td>
                                    <td>@x.DesignationName</td>
                                    <td>
                                        @if (x.Status == true)
                                        {
                                            <span class="badge badge-success">Active</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-danger">Inactive</span>
                                        }
                                    </td>
                                    <td>
                                        <a href="~/ModifyDesignation/@x.DesignationId" class="btn btn-success btn-circle btn-sm" id="btnEdit">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <button class="btn btn-danger btn-circle btn-sm" id="btnDelete">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/web/backend/jquery-ui")
@Scripts.Render("~/web/backend/datatables")
<script>
    $(document).ready(function () {
        $("#dataTable").on('click', '#btnDelete', function () {
            var currentRow = $(this).closest("tr");
            var data = currentRow.find("td:eq(1)").html();

            swal({
                text: getDeleteConfirmationMessage(),
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            type: "POST",
                            url: '/Designation/Delete/' + data,
                            success: function (message) {
                                showResultMessage(message, "/DesignationList")
                            },
                            error: function (message) {
                                showResultMessage(message)
                            }
                        });
                    }
                });
        });
    })
</script>


